<h1>
Users pages
</h1>

<b> User name: </b> <%= @user.name%>
<br>
<b> User handle: </b> <%= @user.handle%>
<br>
<b> User bio: </b> <%= @user.bio%>
<br>
<b> User email: </b> <%= @user.email%>
<br> <br>
